body {
    background-color: bisque;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
    background-color: rgb(255, 228, 87);
  }

  ul.menu li {
    float: left;
  }

  .logo{
   text-align:right;
   list-style-type: none;
    margin: 0;
    padding: 10px;
    display: block;
    color: black;
    padding: 14px 16px;
    text-transform: uppercase;
    font-family: "Helvetica", "Courier New";
    font-weight: bold;
    font-style: italic; 
    
  }
  

  ul.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Helvetica", "Courier New";
    font-weight: bold;
  }
  .teksti {
    border: 2px solid black;
    border-radius: 16px;
    background-color: white;
    padding: 30px;
    margin-top: 5%;
    margin-bottom: 3px;
  }
  .kuva {
    border: 2px solid black;
    border-radius: 16px;
    padding: 30px;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 3px;
  }
  .sisalto {
  content: "";
  clear: both;
  display: table;
  float: left;
  }
  .kuva img {
    display: block;
    max-width: 80%;
    margin: auto;
  }
  ul.menu li a:hover {
    background-color: rgb(255, 215, 15);
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .teksti {width: 40%; margin-left: 5%;}
    .kuva {width: 40%; margin-left: 5%;}
    .sisalto {display: flex;}
  }

  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    
  }
  .logo:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform:  rotate(0deg); }
    100% { transform: rotate(-1deg); }
  }