body {
    background-color: bisque;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
    background-color: rgb(255, 228, 87);
  }

  ul.menu li {
    float: left;
  }

  ul.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Helvetica", "Courier New";
    font-weight: bold;
  }
  .teksti {
    border: 2px solid black;
    border-radius: 16px;
    background-color: white;
    padding: 30px;
    margin-top: 5%;
    margin-bottom: 3px;
  }
  .kuva {
    border: 2px solid black;
    border-radius: 16px;
    padding: 30px;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 3px;
  }
  .sisalto {
  content: "";
  clear: both;
  display: table;
  float: left;
  }
  .kuva img {
    display: block;
    max-width: 80%;
    margin: auto;
  }
  ul.menu li a:hover {
    background-color: rgb(255, 215, 15);
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .teksti {width: 40%; margin-left: 5%;}
    .kuva {width: 40%; margin-left: 5%;}
    .sisalto {display: flex;}
  }