body {
  background-color: bisque;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  background-color: rgb(255, 228, 87);
}

ul.menu li {
  float: left;
}

.logo{
 text-align:right;
 list-style-type: none;
  margin: 0;
  padding: 10px;
  display: block;
  color: black;
  padding: 14px 16px;
  font-family: MarckScript; src: url(MarckScript-Regular.ttf); 
  font-style: italic;
  letter-spacing: 3px;
  word-spacing: 3px;
  margin-right: 5%;
}

@font-face {
  font-family: MarckScript;
  src: url("MarckScript-Regular.ttf");
}


ul.menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica", "Courier New";
  font-weight: bold;
}
.teksti {
  border: 2px solid black;
  border-radius: 16px;
  background-color: white;
  padding: 30px;
  margin-top: 5%;
  margin-bottom: 3px;
  font-family: Helvetica, sans-serif;
}
.tekstipricing {
  padding: 30px;
  margin-top: 5%;
  margin-bottom: 3px;
}
.kuva {
  border: 2px solid black;
  border-radius: 16px;
  padding: 30px;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 3px;
}
.sisalto {
content: "";
clear: both;
display: table;
float: left;
margin-bottom: 80px;
}
.kuva img {
  display: block;
  max-width: 80%;
  margin: auto;
}
ul.menu li a:hover {
  background-color: rgb(255, 215, 15);
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .teksti {width: 40%; margin-left: 5%; margin-top: 12px;}
  .tekstipricing {width: 60%; align-items: center; margin: auto; margin-top: 5%; max-width:700px;}
  .kuva {width: 40%; margin-left: 5%; margin-top: 12px;}
  .sisalto {display: flex; margin-bottom: 54px;}
  td {font-size: 22px; min-width: 75px;}
}

footer{
  background-color: rgba(255, 255, 255, 0.774);
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 10px;
  
}

.center {
  font-family: Arial, Helvetica, sans-serif;
  
  margin-left: auto;
  margin-right: auto;
  
}

tr:nth-child(even){
  background-color: rgb(255, 228, 87);
}

tr:nth-child(odd){
  background-color: bisque;
}

#hinnasto{
  text-align: center;
  margin-left: auto;
}

.zoom {
  padding: 50px;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

h1 {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  margin-left: 50px;
}

hr{
  height: 2px;
  width:100%;
  text-align:left;
  margin-left:0;
  color: black;
  background-color:black
}